<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if user_signed_in? %>
  <h1>BEM VINDO AO NOSSO ECCOMERCE</h1>
<%= button_to "logout", destroy_user_session_path, method: :delete  %>
<% else %>
  <h2>VOCÊ NÃO ESTÁ LOGADO. POR FAVOR SE CADASTRE. <%= link_to "Sign up", new_user_registration_path, class: "navbar-link"  %>
  <%= link_to "Login", new_user_session_path, class: "navbar-link"  %>
|
</h2>
<% end %>
